#wrapper{
    padding: 5px;
    width: 1200px;
    margin: -20px auto;
    background-color: white;
}
#header{
    height: 100px;
    border-style:solid;
    font-family: "UTM Neutra", serif;
}
#left{
    width:230px;
    height: 600px;
    float:left;
    padding-top: 150px;
    border-style:inset;
    /*background-color: #d3d9df;*/
    position: fixed;


}

#content{
    width:700px;
    float:left;
    border-style:solid;
    margin: 20px;
    padding-left: 200px;
}
#sidebar{
    width:242px;
    float:right;
    border-style:solid;
    /*background-color: #17a2b8;*/
    height: 600px;
    margin-top: 20px;

}
.container{
    width: 600px;
}
@media screen and (max-width: 1200px)
{ #wrapper { width: 94%; }
    #left{ width: 10%}
    #content { width: 65%; }
    #sidebar { width: 30%; }
}
@media screen and (max-width: 700px)
{
    #left {width: 10%}
    #content { width: auto; float: none; }
    #sidebar { width: auto; float: none; }
}

@media screen and (max-width: 480px)
{
    #header { height: auto; }
    h1 { font-size: 24px; }
    #sidebar { display: none;}}
@media screen and (max-width: 480px)
{
    #header { height: auto; }
    #header .show_menu{
        float:right;
        height:10px;
        width: 40px;

    }
    #header .show_menu i{
        float:right;
        height:5px;
        width: 40px;
        background-color:#666;
    }
    h1 {
        font-size: 24px;
    }
    #sidebar {
        display: none;
    }
}
