body {
	padding-top: 65px;
	margin: 0;
	background: #F0F0F0;
	font-family: "Calibri";
	width: 100%;
}

/*--------Header--------*/
.page-header{ 
	background: #fff;  
	height: 70px; 
	line-height: 70px; 
	color: #000;
}
.navbar-default{
	background-color: #fff;
	color: #000;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}
.navbar-brand{
	padding: 6px 0 0 28px;
	margin-right: 28px;
}
.navbar-toggle {
	background-color: #5bc0de;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3EADCF;
}
.navbar-nav > li > a {
	width: 130px;
	text-decoration: none;
	color: #000;
	font-family: "Calibri";
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #5bc0de;
}

@media (max-width: 767px) {
	.navbar-brand{
		padding: 6px 0 0 15px;
		margin-right: 28px;
	}
	.navbar-nav > li > a {
		width: 100%;
		text-decoration: none;
		color: #000;
		font-family: "Calibri";
		font-size: 18px;
		font-weight: bold;
		text-align: left;
		text-transform: uppercase;
	}
	#search-submit{
		display: none !important;
	}
}

.icon-bar{
	background-color: #fff !important;
}
#search-text {
	width: 180px;
	margin-left: 0px;
	border: 1px solid #5bc0de;
	border-radius: 7px;
}
.navbar-nav li.login-fb a{
	margin-top: 9px;
	padding: 6.5px;
	text-transform: none;
	border-radius: 7px;
	width: auto;
	font-size: 16px;
	text-align: center;
	color: #fff;
	background-color: #286090;
}
.navbar-nav li.login-fb a:hover{
	
}

/*--------Left Sidebar--------*/
.well{
	background-color: #fff;
}
.sidebar-nav-fixed {
	width: 19.333%;
}
.nav > li.side-link > a {
	padding: 5px 10px;
	color: #1a1a1a;
	font-weight: bold;
	font-family: "Calibri";
}
.nav > li.side-link > a:hover, .nav > li.side-link > a:focus {
	border: 1px solid #5bc0de;
	background-color: #fff;
	color: #5bc0de;
}
.nav > li.nav-header {
	padding-top: 15px;
	font-weight: bold;
	color: #8590a6;
}
.nav > li.side-header {
	font-weight: bold;
	color: #8590a6;
}


/*--------Page Content--------*/

.carousel-indicators{
	display: none;
}
.carousel-caption{
	margin: 0;
	padding: 0 20px;
	left: 0;
	right: 0;
	text-align: left;
}
.carousel-caption h3.category-carousel{
	padding: 0;
	padding: 3px;
	width: 70px;
	border: 1px solid #5bc0de;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.6);
	background-color: #5bc0de;
	text-align: center;
	text-shadow: none;
	font-size: 14px
}

.carousel-caption p.title-carousel{
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
}
@media screen and (max-width: 767px){
	.carousel-caption p.title-carousel{
		font-size: 16px;
	}
	.sidebar-nav-fixed{
		display: none;
	}
}

.post-group{ 
	background-color: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	margin-top: 15px; 
	padding: 10px 10px;
}
.post-header:after, .comment-item:after{
	content: "";
    display: table;
    clear: both;
}
.post-header a img#avatar{
	float: left;
}
.post-info{
	float: left;
	margin-left: 10px; 
}
.post-info a{
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.post-info h6{
	font-style: italic;
	color: #8590a6;
}
.post-content{
	margin: 10px 0;
}
.list-inline > li {
	text-align: center;
	width: 32%;
}
.list-inline > li.post-reaction {
	font-weight: bold;
	color: #8590a6;
	font-size: 15px;
}
@media (max-width: 420px){
	.list-inline > li.post-reaction {
		font-size: 12px;
	}
	.list-inline > li {
		text-align: center;
		width: 32%;
	}
}
@media (max-width: 350px){
	.list-inline > li.post-reaction {
		font-size: 12px;
	}
	.list-inline > li {
		text-align: center;
		width: auto;
	}
	.list-inline > li.post-reaction > a{
		padding-right: 0px;
	}
}
.list-inline > li.post-reaction > a{
	padding-right: 8px;
  	text-decoration: none;
  	color: #8590a6;
  	font-weight: bold;
}
.list-inline > li > a:hover, .list-inline > li > a:focus{ 
  	color: #5bc0de;
}
.post-comment {
	border-top: 1px solid #E0E0E0;
}
.post-comment-info{
	margin: 10px 0;
}
.comment-item{
	margin-bottom: 10px;
}
.comment-item a img#avatar{
	float: left;
}
.comment-item-info{
	width: 90%;
	float: left;
	margin-left: 10px;
}
@media (max-width: 767px){
	.comment-item-info{
		width: 90%;
	}
}
.comment-item-info a.comment-owner{
	font-weight: bold;
	color: #000;
	padding-right: 5px;
}
.comment-item-info a.comment-time{
	color: #8590a6;
	text-decoration: none;
}
.comment-item-info a{
	padding-bottom: 10px;
	padding-right: 20px;
}
.post-comment-form textarea.form-control{
	border: 1px solid #E0E0E0;
	border-radius: 20px;
}
/*--------Right Sidebar--------*/
#right-sidebar{ 
	background: #fff;
	height: 250px; 
	line-height: 250px; 
	color: #000; 
	font-size: 32px; 
	text-align: center;
}
